#carrito-items img {
    margin-right: 10px;
    vertical-align: middle;
}

#carrito-items div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#carrito-items p {
    margin: 0;
    font-size: 18px;
}

#comprar-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#comprar-btn:hover {
    background-color: #0056b3;
}
/* Estilo para los botones de quitar artículo */
.remove-item {
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-item:hover {
    background-color: #c82333; /* Rojo más oscuro al hacer hover */
}
