/* Estilos básicos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left, .nav-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-right {
    margin-left: auto;
}

.nav-right li {
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
}

/* Estilos de la sección */
section {
    padding: 20px;
    margin: 10px;
}

/* Estilos de los productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
}

.producto p {
    margin: 10px 0;
}

/* Estilos de los botones */
button.add-to-cart, button.remove-item, .go-to-home {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button.add-to-cart:hover, button.remove-item:hover, .go-to-home:hover {
    background-color: #0056b3;
}

button.remove-item {
    background-color: #dc3545;
}

button.remove-item:hover {
    background-color: #c82333;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo oculto */
.hidden {
    display: none;
}

/* Estilos del carrito */
#carrito-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrito-items .producto {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

#carrito-items img {
    width: 100px;
}

#carrito-items .producto p {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

#carrito-items button {
    margin: 0 5px;
}

/* Estilo para el icono de la casa */
.go-to-home {
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
